// Blues
$flat-electric-blue: #6BFFF0;
$flat-rich-black: #090F23;

// Purples
$flat-middle-red-purple: #160926;

// Yellows
$flat-yellow: #FFD000;

// Oranges
$flat-orange-peel: #FF9D00;

// Reds
$flat-dark-terra-cotta: #D1495B;

// Grays
$flat-registration-black: #000000;
$flat-rasin-black: #212121;
$flat-davys-grey: #595959;
$flat-white: #FFFFFF;
